:root {
  --bg-color: #f9f6f0;
  --text-color: #0f0d12;
  --secondary-text-color: #676e7f;
  --gradient: linear-gradient(45deg, #f9f6f0, #b6737c, #676e7f);
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.punchline {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  text-shadow: #676e7f 1px 2px 5px;
  overflow: hidden;
}

.punchline::before,
.punchline::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.punchline::before {
  background-color: var(--bg-color);
  animation: typewriter 4s steps(29) 1s forwards;
}

.punchline::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(29) 1s forwards, blink 750ms steps(29) infinite;
}

.subtitle {
  color: var(--secondary-text-color);
  font-size: 2rem;
  font-weight: 400;
  transform: translateX(4rem);
  opacity: 0;
  animation: fadeIn 3s ease 5s forwards;
}

.btn {
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  width: max-content;
  height: max-content;
}

.btn:hover,
.btn:focus {
  background-image: var(--gradient);
  background-size: 300%;
  box-shadow: #676e7f 5px 5px 5px;
  animation: pulse 5s infinite, gradient 10s infinite alternate;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  50% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  to {
    transform: scale(1.2);
  }
}
